/* **********************************全局清楚浏览器默认样式 *********************************/
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    line-height: 1.42857;
    background-color: #FFF;
    height: 100%;
}
ul,ol,dl{
    list-style: none;
}
input,input:hover,input:active,input:focus{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color: #333;
}
a:active{
    text-decoration: none;
    color: #333;
}
p{
    margin: 0;
}